In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv("regularite-mensuelle-tgv-aqst.csv",encoding="latin-1")

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  8154 non-null   object
 1   service                               8154 non-null   object
 2   gare_depart                           8154 non-null   object
 3   gare_arrivee                          8154 non-null   object
 4   duree_moyenne                         8154 non-null   int64
 5   nb_train_prevu                        8154 non-null   int64
 6   nb_annulation                         8154 non-null   int64
 7   commentaire_annulation                0 non-null      float64
 8   nb_train_depart_retard                8154 non-null   int64
 9   retard_moyen_depart                   8154 non-null   float64
 10  retard_moyen_tous_trains_depart       8154 non-null   float64
 11  commentaire_retards_depart            0 non-null      float64
 12  nb_train_retard_arrivee               8154 non-null   int64
 13  retard_moyen_arrivee                  8154 non-null   float64
 14  retard_moyen_tous_trains_arrivee      8154 non-null   float64
 15  commentaires_retard_arrivee           698 non-null    object
 16  nb_train_retard_sup_15                8154 non-null   int64
 17  retard_moyen_trains_retard_sup15      8154 non-null   float64
 18  nb_train_retard_sup_30                8154 non-null   int64
 19  nb_train_retard_sup_60                8154 non-null   int64
 20  prct_cause_externe                    8154 non-null   float64
 21  prct_cause_infra                      8154 non-null   float64
 22  prct_cause_gestion_trafic             8154 non-null   float64
 23  prct_cause_materiel_roulant           8154 non-null   float64
 24  prct_cause_gestion_gare               8154 non-null   float64
 25  prct_cause_prise_en_charge_voyageurs  8154 non-null   float64
dtypes: float64(13), int64(8), object(5)
memory usage: 1.6+ MB

In [61]:
df.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,nb_train_retard_sup_15,retard_moyen_trains_retard_sup15,nb_train_retard_sup_30,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs
0,1/1/2018,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,NaN,289,11.247809,...,110,6.511118,44,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336
1,1/1/2018,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,NaN,8,2.875000,...,22,5.696096,5,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000
2,1/1/2018,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,NaN,37,9.501351,...,26,7.548387,17,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000
3,1/1/2018,National,PARIS MONTPARNASSE,ST MALO,156,102,0,NaN,12,19.912500,...,8,6.724757,6,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000
4,1/1/2018,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,NaN,61,7.796995,...,17,3.346487,6,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000

In [62]:
print(len(set(df["gare_depart"].tolist()))) #pd.get_dummies
print(len(set(df["gare_arrivee"].tolist()))) #pd.get_dummies
print(len(df["date"].tolist()))

59
59
8154

In [74]:
def clean_df(df):
    # Add commands to clean dataframe
    df = df.dropna(axis=1, how='all')
    df = df.drop("commentaires_retard_arrivee", axis=1) # str and not relevant for model
    return df

clean_df = clean_df(df) #Test
# Dataset cleaning should be done on train and test set separately -> ensure reproducibility

In [75]:
print(len(clean_df.columns))
print(len(df.columns))

23
26

In [55]:
def get_train_test_set(df):
    train_idx = []
    test_idx = []
    for i, d in enumerate(df["date"].tolist()):
        month, day, year = d.split('/')
        if int(year)<2023:
            train_idx.append(i)
        else:
            test_idx.append(i)
    
    train_set = df.iloc[train_idx].copy(deep=True)
    test_set = df.iloc[test_idx].copy(deep=True)
    
    return train_set, test_set

train_set, test_set = get_train_test_set(df)


split = [(len(train_idx)/len(df))*100, (len(test_idx)/len(df))*100]
print(f"Lenghts of train/test: {len(train_idx)}/{len(test_idx)}")
print(f"split train/test: {round(split[0],2)}/{round(split[1],2)}")

Lenghts of train/test: 7428/726
split train/test: 91.1/8.9

In [53]:
set(train_set["service"].tolist())

{'International', 'National'}

test with date transform to year, months over years, days